//FOOTER
footer {
  padding: 26px 0;
  position: relative;
  box-shadow: 0px -1px 0px #f4f7fb;
}
.footer-nav {
  li {
    margin-left: 32px;
    &:first-child {
      margin-left: 0;
    }
  }
}
.social {
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    &:nth-child(1) {
      left: 48%;
    }
    &:nth-child(2) {
      left: 52%;
    }
  }
}
@media only screen and (max-width: 768px) {
  footer {
    flex-direction: column-reverse;
    .social {
      margin: 2rem 0;
    }
  }
  img {
    &:nth-child(1) {
      left: 46% !important;
    }
    &:nth-child(2) {
      left: 54% !important;
    }
  }
}
