header {
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 700px;
    top: 0;
    left: 0;
    background: #f6faf9;
    z-index: -1;
  }
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 36px 0;
  .navbar {
    display: flex;
    align-items: center;
    transition: 300ms ease-in;
    transition-delay: 100ms;
    ul {
      display: flex;
    }
    li {
      margin-left: 32px;
    }
    button {
      margin-left: 32px;
    }
  }
}

////NAV MENU
.toggle {
  display: flex;
  flex-direction: column;
  align-items: center;
  visibility: hidden;
  position: relative;
  cursor: pointer;
  .line {
    transition: 300ms;
    background-color: #fff;
    height: 2px;
    width: 25px;
    margin: 3px;
    z-index: 99;
    box-shadow: -1px 1px 1px black;

    &.line2 {
      width: 30px;
    }
  }
  &.on-off {
    .line1 {
      transform: rotate(45deg) translate(5.5px, 5.5px);
    }
    .line2 {
      opacity: 0;
      transform: translateX(-80px);
    }
    .line3 {
      transform: rotate(-45deg) translate(5.5px, -5.5px);
    }
  }
}

@media only screen and (max-width: 768px) {
  .navbar {
    position: absolute;
    z-index: 99;
    top: 0;
    right: 0;
    width: 0;
    height: 100vh !important;
    background-color: #157663;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    overflow: hidden;

    ul {
      flex-direction: column;
      justify-content: center;
    }
    li {
      margin: 1.5em;
      // display: none;

      text-align: center;
    }
    .btn {
      // color: #f6faf9;
      color: #eaf2f0 !important;
      border: 1px solid #f6faf9;
      margin: 1.5em;
      // display: none;
      &:hover {
        color: #157663 !important;
      }
    }
    a {
      color: #f6faf9;
    }
    &.navbar-active {
      visibility: visible !important;
      transform: translateX(0%);
      width: 100%;
      li,
      .btn {
        display: block;
      }
    }
  }
  .toggle {
    visibility: visible;
    z-index: 999;
  }
}
//HERO
.head-hero {
  margin-top: 35px;
  margin-bottom: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .hero-title {
    max-width: 540px;
    margin-bottom: 24px;
    span {
      position: relative !important;
      span {
        position: absolute !important;
        left: 12px;
        top: 30px;
      }
    }
  }
  p {
    max-width: 580px;
    text-align: center;
    margin-bottom: 31px;
  }
}
