.integration {
  position: relative;
  margin-bottom: 96px;
  &::before {
    content: '';
    position: absolute;
    background: #fffcf3;
    width: 66.5%;
    min-width: 780px;
    height: 500px;
    right: 0px;
    top: 0;
    border-radius: 16px;
    z-index: -1;
  }
  .integration-imgs {
    height: 500px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    img,
    .circle {
      position: absolute;
    }
    //C
    .circle {
      &.big-c {
        width: 324px;
      }
      &.small-c {
        width: 180px;
      }
    }
    //S
    .outlook,
    .gmail,
    .yahoo,
    .aol {
      box-shadow: 0px 32px 32px #f3efe3;
      border-radius: 50%;
      width: 80px;
    }
    .outlook {
      top: 10%;
    }
    .gmail {
      left: 120px;
    }
    .yahoo {
      bottom: 10%;
    }
    .aol {
      right: 120px;
    }
    //D
    .dot-1 {
      top: 31%;
    }
    .dot-2 {
      bottom: 31%;
    }
    .dot-3 {
      left: 80px;
    }
    .dot-4 {
      right: 80px;
    }
  }
  @media only screen and (max-width: 768px) {
    .calendar {
      margin-bottom: 30px;
    }
    .integration-imgs {
      flex-direction: column;
    }
    &.integration {
      &::before {
        content: '';
        position: absolute;
        background: none !important;
      }
      .mbx {
        background: #fffcf3;
      }
    }
    &.integration {
      margin-bottom: 48px !important;
    }
  }
  @media only screen and (max-width: 480px) {
    .integration-imgs {
      .circle {
        &.big-c {
          width: 259.2px;
        }
        &.small-c {
          width: 144px;
        }
      }
      //S
      .outlook,
      .gmail,
      .yahoo,
      .aol {
        width: 64px;
      }
      .outlook {
        top: 17%;
      }
      .gmail {
        left: 100px;
      }
      .yahoo {
        bottom: 17%;
      }
      .aol {
        right: 100px;
      }
      //D
      .dot-1 {
        top: 34.5%;
      }
      .dot-2 {
        bottom: 34.5%;
      }

      .dot-3 {
        left: 62px;
      }
      .dot-4 {
        right: 62px;
      }
      .c-logo {
        width: 40px !important;
      }
    }
  }
}

//SCROLL ON ANIM

//SCROLL ON ANIM
.integration {
  &.custom-anim {
    &::before {
      opacity: 0;
      transition: 300ms;
    }
    .integration-imgs {
      .circle {
        opacity: 0;
        transition: 300ms;
      }
      img {
        opacity: 0;
        transform: scale(0);
        transition: 300ms;

        &:nth-child(3) {
          //Outlook
          transition-delay: 200ms;
        }
        &:nth-child(4) {
          //Gmail
          transition-delay: 300ms;
        }
        &:nth-child(5) {
          //Yaho
          transition-delay: 400ms;
        }
        &:nth-child(6) {
          //Aol
          transition-delay: 500ms;
        }
        &.dot-1 {
          //Dot1
          transition-delay: 600ms;
        }
        &.dot-2 {
          //Dot3
          transition-delay: 800ms;
        }
        &.c-logo {
          //Logo
          transform: scale(0) rotate(-15deg);
        }
        &.dot-3 {
          //Dot2
          transition-delay: 700ms;
        }
        &.dot-4 {
          //Dot4
          transition-delay: 900ms;
        }
      }
    }
    //Active Anim
    &.active {
      .circle {
        opacity: 1;
        transition: 300ms;
      }
      &::before {
        opacity: 1;
      }
      .integration-imgs {
        img {
          opacity: 1;
          transform: scale(1);
        }
      }
      .text-area {
        h4,
        p {
          opacity: 1;
        }
        p {
          transform: translateY(0);
        }
      }
    }
  }
}

//

.circle {
  animation: rotate 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
.big-c {
  animation-name: rotateRev;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotateRev {
  to {
    transform: rotate(-360deg);
  }
}
// @keyframes stoped {
//   to {
//     position: absolute;
//     top: 16px;
//     left: 50%;
//     transform: translateX(-50%);
//     border-radius: 8px;
//     outline: none;
//     width: 80%;
//     height: auto;
//   }
// }
