//JOIN US
.join-us {
  margin-bottom: 96px;
  position: relative;
  padding: 60px 0;
  &::before {
    content: '';
    position: absolute;
    width: 66.5%;
    height: 100%;
    left: 0px;
    top: 0px;
    background: #f6faf9;
    border-radius: 16px;
    z-index: -1;
  }
  .left-img {
    position: relative;
    padding: 0;

    figure {
      &:nth-child(1) {
        margin: 0 auto;
        img {
          width: 100%;
        }
      }
      &:nth-child(2),
      &:nth-child(3) {
        position: absolute;
        z-index: 1;
      }
      &:nth-child(2) {
        height: 29.6%;
        right: 47.5%;
        top: 7%;
        img {
          height: 100%;
        }
      }
      &:nth-child(3) {
        height: 7.9%;
        right: 46.2%;
        top: 29.2%;
        img {
          height: 100%;
        }
      }
    }
  }
  @media only screen and (max-width: 768px) {
    &.join-us {
      margin-bottom: 0px !important;
    }
    .input-form {
      margin: 0 auto;
    }
    &::before {
      content: '';
      position: absolute;
      background: none !important;
    }
    .row {
      background: #f6faf9;
      padding: 2em 0;
    }
  }
}

//SCROLL ON ANIM
.join-us {
  &.custom-anim {
    &::before {
      opacity: 0;
    }
    .left-img {
      transform: rotate(-10deg);

      transition: 500ms;
      opacity: 0;
      transition-delay: 200ms;
    }

    &.active {
      .rot {
        animation: landr 1s alternate ease;
        animation-iteration-count: 3;
        animation-fill-mode: both;
      }
      &::before {
        opacity: 1;
      }
      .left-img {
        opacity: 1;
        transform: rotate(0deg);
      }
    }
  }
}

@keyframes landr {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(-7deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
