//MARKETING AREA
.marketing {
  margin-bottom: 96px;

  .row {
    position: relative;
  }
  .img-area {
    padding: 2em;
    max-width: 540px;
    width: 100%;
    height: 500px;
    &::before {
      content: '';
      position: absolute;
      background: #f6faf9;
      min-width: 620px;
      width: 131%;
      height: 500px;
      left: 0;
      top: 0;
      border-radius: 16px;
    }
    img {
      position: absolute;
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3) {
        box-shadow: 0px 32px 32px #eaf2f0;
        border-radius: 16px;
      }
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6) {
        box-shadow: 0px 8px 8px #eaf2f0;
        border-radius: 50%;
        // box-shadow: 0px 8px 8px #657470;
      }
      &:nth-child(1) {
        left: 7.5% !important;
        top: 39%;
      }
      &:nth-child(2) {
        left: 35% !important;
        top: 11%;
      }
      &:nth-child(3) {
        right: 2%;
        top: 51%;
      }
      &:nth-child(4) {
        top: 29%;
        left: 26%;
      }
      &:nth-child(5) {
        top: 38%;
        left: 84%;
      }
      &:nth-child(6) {
        top: 69%;
        left: 59%;
      }
    }
  }
  .text-area {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}
@media only screen and (max-width: 768px) {
  .marketing {
    .row {
      flex-direction: column-reverse;
    }
  }
  .img-area {
    img {
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6) {
        border-radius: 50%;
        box-shadow: 0px 8px 8px #717976a6 !important;
        opacity: 0.8;
      }

      &:nth-child(3) {
        right: inherit;
        right: 8% !important;
      }
    }
  }
  .text-area {
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 600px) {
  .img-area {
    img {
      &:nth-child(1),
      &:nth-child(2) {
        width: 196px;
      }
      &:nth-child(2) {
        top: 20% !important;
      }
      &:nth-child(3) {
        width: 105px;
        right: 12% !important;
      }
      &:nth-child(5) {
        left: 78% !important;
      }
      &:nth-child(6) {
        left: 50% !important;
        top: 60% !important;
      }
    }
  }
}

//SCROLL ON ANIM
.marketing {
  &.custom-anim {
    .img-area {
      &::before {
        opacity: 0;
        transition: 300ms;
      }
      img {
        opacity: 0.1;
        transform: scale(0);
        transition: 300ms;

        &:nth-child(1) {
        }
        &:nth-child(2) {
          transition-delay: 100ms;
        }
        &:nth-child(3) {
          transition-delay: 200ms;
        }
        &:nth-child(4) {
          transition-delay: 300ms;
        }
        &:nth-child(5) {
          transition-delay: 400ms;
        }
        &:nth-child(6) {
          transition-delay: 500ms;
        }
      }
    }
    //Active Anim
    &.active {
      .img-area {
        &::before {
          opacity: 1;
        }
        img {
          opacity: 1;
          transform: scale(1);
        }
      }
      .text-area {
        h4,
        p {
          opacity: 1;
        }
        p {
          transform: translateY(0);
        }
      }
    }
  }
}
