.video-content {
  display: flex;
  justify-content: center;
  max-width: 600px;
  margin: 0 auto;
  z-index: 8;
  margin-bottom: 96px;

  img {
    max-width: 600px;
    width: 100%;
  }

  .movie {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 101%;
    height: 100%;
    border-radius: 0px;
    z-index: 9;
    overflow: hidden;
    transition: 300ms;
    .title {
      transition: 100ms;
      font-size: 4vw;
      line-height: 4vw;
      color: white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      z-index: 9 !important;
      opacity: 1;
      text-shadow: 0px 4px 8px #464747;
      cursor: default;
      opacity: 0.9;
      span {
        img {
          width: 10%;
          margin: 1em;
          animation-name: scroll-down;
          animation-duration: 1.5s;
          animation-iteration-count: infinite;
        }
      }
    }
    video {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      min-height: 110%;
      pointer-events: none;
      background-color: black;
    }
  }

  &.active {
    .movie {
      position: absolute;
      border-radius: 8px;
      width: calc(100% - 120px);
      height: calc(100% - 70px);
      .title {
        opacity: 0;
      }
    }
    video {
      background-color: transparent;
    }
  }
}

//ANIMATION SCROLLDOWN ICON
@keyframes scroll-down {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  to {
    transform: translate3d(0, 10px, 0);
    opacity: 0;
  }
}
