// @import "~bootstrap/scss/bootstrap";
@import '~bootstrap/scss/bootstrap-grid';
// @import '~bootstrap/scss/bootstrap-reboot';
@import './template/header';
@import './template/video';
@import './template/marketing';
@import './template/integration';
@import './template/join-us';
@import './template/footer';
// Fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');

//SCSS//GLOBAL CSS

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: 'Inter', sans-serif;
}
.wrapper {
  overflow: hidden !important;
  overflow-x: hidden !important;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
}
.row {
  margin: 0 -10px;
}
[class*='col-'] {
  padding: 0 10px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
//GENERAL STYLE
.btn {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.01em;
  color: #ffffff;
  background: #157663;
  border-radius: 100px;
  padding: 14px 24px;
  border: none;
  border: 1px solid #157663;
  outline: none;
  cursor: pointer;

  &.border-green {
    background: transparent;
    color: #157663;
    &:hover {
      background: #eaf2f0;
    }
  }
  &:hover {
    background: transparent;
    background: #eaf2f0;
    color: #157663;
  }
  &:active {
    background: transparent;
  }
}
.link {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: #57667f;
  opacity: 0.9;
  &:hover {
    opacity: 1;
  }
}
.title {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -0.02em;
  color: #112548;
  &.hero-title {
    font-size: 56px;
    line-height: 56px;
    text-align: center;
    letter-spacing: -0.04em;
    span {
      color: #157663;
    }
  }
}
.description {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #57667f;
}
.input-form {
  background: #ffffff;
  border: 1px solid #eff2f6;
  box-shadow: 0px 8px 16px #e5ebf3;
  border-radius: 100px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  max-width: 380px;
  width: 100%;
  padding: 4px 4px 4px 24px;
  input {
    border: none;
    outline: none;
    width: 50%;
  }
  .btn {
    white-space: nowrap;
  }
}

//GENERAL SCROLL ON ANIM
.marketing,
.integration,
.join-us {
  &.custom-anim {
    h4,
    p,
    .input-form {
      opacity: 0;
      transition: 300ms;
    }
    h4 {
      transition-delay: 200ms;
    }
    p {
      transition-delay: 320ms;
      transform: translateY(20%);
    }
    .input-form {
      transition-delay: 440ms;
      transform: translateY(20%);
    }
    &.active {
      h4,
      p {
        opacity: 1;
      }
      p {
        transform: translateY(0);
      }
      .input-form {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}

.hero {
  position: relative;
}

.locked {
  overflow: hidden;
}
@media only screen and (max-width: 992px) {
  .locked {
    overflow: scroll !important;
  }
}
